# Секреты
.env
.env.*
!.env.example
grafana/provisioning/alerting/contactpoints.yml

# Бэкапы томов
*.tar.gz

# Системное
.DS_Store
Thumbs.db

# Сертификаты
nginx/certs/*.key
nginx/certs/*.crt
nginx/certs/*.pem
node-exporter-textfile/*.prom